.center{ border-style: solid;
border-color: black;
width: fit-content;
padding: 20px;}
body {background-image: url();}
h1 {background-color:teal}
div {background-color: #ffffff; padding: 20px; width: 960px} 